/*
  Create an add-shadow class
  - give it a box shadow with a green color
  - have the text of the button be blue
  - have the text of the button be bold
*/
.add-shadow {
  box-shadow: 4px 5px green;
  color: blue;
  font-weight: bold;
  cursor: pointer;
}
